{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": true,
    "INSTALL": true,
    "INSTALL_ID": true,
    "INSTALL_SCOPE": true,
    "INSTALL_OPTIONS": true,
    "INSTALL_PRODUCT": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "no-unused-vars": [
      0,
      {
        "varsIgnorePattern": "^h$"
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "consistent-return": 0,
    "no-console": 0,
    "no-debugger": 0,
    "spaced-comment": "off",
    "no-underscore-dangle": "off",
    "func-names":"off",
    "prefer-const":"off",
    "no-bitwise":"off",
    "no-multi-assign":"off",
    "no-param-reassign":"off",
    "prefer-arrow-callback":"off",
    "camelcase":"off",
    "no-return-assign":"off",
    "prefer-template":"off",
    "no-shadow":"off",
    "no-restricted-syntax":"off",
    "lines-around-directive":"off",
    "guard-for-in":"off",
    "dot-notation":"off",
    "strict":"off",
    "eqeqeq":"off",
    "object-shorthand":"off"
  }
}
